@model PrePositionOrganizer.Models.ApplicationDetail

@{
    ViewBag.Title = "Details";
}
<style>
    .background {
        background-size: cover;
        background-image: url('../../Content/3KBRock.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: auto;
        color: whitesmoke;
        font-size: large;
    }

    a:visited {
        color: cadetblue;
    }

    a:link {
        color: cadetblue;
    }

    a:hover {
        color: cyan;
    }
   
</style>
<h2>Application Details</h2>
<body class="background"></body>
<div>
    @*<h4>ApplicationDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryEstimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryEstimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>


        @if (Model.Comments != null)
        {
            for (var i = 0; i < Model.Comments.Count(); i++)
            {
                <dd>
                    @Html.DisplayFor(model => model.Comments[i])
                </dd>
            }
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
