@model IEnumerable<PrePositionOrganizer.Models.ApplicationListItem>

@{
    ViewBag.Title = "Index";
}
<style>
    .background {
        /*display: flex;*/
        background-image: url('../../Content/3KBRock.png');
        background-size: cover;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment:fixed;
        margin: auto;
        color: whitesmoke;
        /*font-size: large;*/
    }

    a:visited {
        color: whitesmoke;
    }

    a:link {
        color: whitesmoke;
    }

    a:hover {
        color: #00ccff;
    }

    th {
        font-size: large;
    }

    td {
        color: #00ccff;
    }
</style>
<h2>Applications</h2>
<body class="background"></body>
<p>
    @Html.ActionLink("Add another application", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">
    @ViewBag.SaveResult
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>

    </tr>

@foreach (var item in Model) {
<tr>
    @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationId)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JobDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedUtc)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
    </td>
</tr>
}

</table>
