@model PrePositionOrganizer.Models.CommentDetail

@{
    ViewBag.Title = "Details";
}
<style>
    .background {
        background-size: cover;
        background-image: url('../../Content/3KBRock.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: auto;
        color: whitesmoke;
        font-size: large;
    }

    a:visited {
        color: cadetblue;
    }

    a:link {
        color: cadetblue;
    }

    a:hover {
        color: cyan;
    }
</style>
<h2>Details about a Comment</h2>
<body class="background"></body>
<div>
    @*<h4>CommentDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
